#==========================================================================
# Description: Packaging OpenWrt
# Copyright (C) 2021 https://github.com/unifreq/openwrt_packit
# Copyright (C) 2021 https://github.com/ophub/flippy-openwrt-actions
#==========================================================================

name: Packaging Haiibo OpenWrt

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      openwrt_soc:
        description: "Select device board."
        required: false
        default: "all"
        type: choice
        options:
          - all
          - s922x_s905x3_s905x2_s912_s905d_s905
          - ak88
          - beikeyun
          - cm3
          - e25
          - fine3399
          - ht2
          - e20c
          - h28k
          - h66k
          - h68k
          - h69k
          - h69k-max
          - h88k
          - h88k-v3
          - l1pro
          - photonicat
          - qemu
          - r08
          - r66s
          - r68s
          - jp-tvbox
          - watermelon-pi
          - rock5b
          - rock5c
          - s905
          - s905d
          - s905x2
          - s905x3
          - s912
          - s922x
          - s922x-n2
          - vplus
          - zcube1-max
          - diy
      openwrt_kernel:
        description: "Select kernel version"
        required: false
        default: "6.1.y_6.6.y"
        type: choice
        options:
          - 5.4.y
          - 5.10.y
          - 5.15.y
          - 6.1.y
          - 6.6.y
          - 6.1.y_6.6.y
          - 5.15.y_5.10.y
      kernel_repo:
        description: "Set the kernel repository"
        required: false
        default: "QXY716/kernel"
        type: choice
        options:
          - ophub/kernel
          - breakings/OpenWrt
          - QXY716/kernel
      auto_kernel:
        description: "Auto use the latest kernel"
        required: false
        default: true
        type: boolean
      script_diy_path:
        description: "Set custom script loading path"
        required: false
        default: ""
      openwrt_storage:
        description: "Select image storage type."
        required: false
        default: "save"
        type: choice
        options:
          - save
          - temp
      builder_name:
        description: "Set OpenWrt builder signature."
        required: false
        default: "QXY716"
        type: choice
        options:
          - ophub
          - angel
          - QXY716

env:
  TZ: America/New_York

jobs:
  build:
    runs-on: ubuntu-22.04
    if: ${{ github.event.repository.owner.id }} == ${{ github.event.sender.id }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Initialization environment
        id: init
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          docker rmi $(docker images -q) 2>/dev/null
          [[ -n "${AGENT_TOOLSDIRECTORY}" ]] && sudo rm -rf "${AGENT_TOOLSDIRECTORY}"
          sudo rm -rf /usr/share/dotnet /etc/apt/sources.list.d /usr/local/lib/android 2>/dev/null
          sudo swapoff -a
          sudo rm -f /swapfile /mnt/swapfile
          sudo -E apt-get -y update
          sudo -E apt-get -y purge azure-cli ghc* zulu* llvm* firefox google* dotnet* powershell openjdk* mongodb* moby* || true
          sudo -E apt-get -y install $(curl -fsSL https://is.gd/depend_ubuntu2204_openwrt)
          sudo -E systemctl daemon-reload
          #sudo -E apt-get -y full-upgrade
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          sudo sed -i '/NVM_DIR/d;/skel/d' /root/{.bashrc,.profile}
          sudo rm -rf ~/{.cargo,.dotnet,.rustup}
          sudo timedatectl set-timezone "${TZ}"
          echo "status=success" >> ${GITHUB_OUTPUT}

      - name: Create simulated physical disk
        run: |
          mnt_size=$(expr $(df -h /mnt | tail -1 | awk '{print $4}' | sed 's/[[:alpha:]]//g' | sed 's/\..*//') - 1)
          root_size=$(expr $(df -h / | tail -1 | awk '{print $4}' | sed 's/[[:alpha:]]//g' | sed 's/\..*//') - 4)
          sudo truncate -s "${mnt_size}"G /mnt/mnt.img
          sudo truncate -s "${root_size}"G /root.img
          sudo losetup /dev/loop6 /mnt/mnt.img
          sudo losetup /dev/loop7 /root.img
          sudo pvcreate /dev/loop6
          sudo pvcreate /dev/loop7
          sudo vgcreate github /dev/loop6 /dev/loop7
          sudo lvcreate -n runner -l 100%FREE github
          sudo mkfs.xfs /dev/github/runner
          sudo mkdir -p /builder
          sudo mount /dev/github/runner /builder
          sudo chown -R runner.runner /builder
          df -Th

      - name: Download armvirt file
        id: download
        working-directory: /builder
        if: ${{ steps.init.outputs.status }} == 'success' && !cancelled()
        run: |
          releases_tag_keywords="OpenWrt_Haiibo"

          armvirt_tarfile_path="openwrt/bin/targets/armvirt/64"
          [[ -d "${armvirt_tarfile_path}" ]] || mkdir -p ${armvirt_tarfile_path}
          ln -sf /builder/openwrt ${GITHUB_WORKSPACE}/openwrt

          latest_url="https://github.com/haiibo/OpenWrt/releases/download/Rockchip/openwrt-rockchip-armv8-rootfs.tar.gz"

          openwrt_filename="${latest_url##*/}"
          curl -fsSL "${latest_url}" -o "${armvirt_tarfile_path}/${openwrt_filename}"
          [[ "${?}" -ne "0" ]] && echo "Invalid OpenWrt rootfs download address." && exit 1

          echo "build_tag=${releases_tag_keywords}_${{ inputs.openwrt_storage }}_$(date +"%Y.%m")" >> ${GITHUB_OUTPUT}
          echo "status=success" >> ${GITHUB_OUTPUT}

      - name: Clone packit source code
        working-directory: /builder
        if: ${{ steps.init.outputs.status }} == 'success' && !cancelled()
        run: |
          SCRIPT_REPO_URL="https://github.com/QXY716/openwrt_packit"
          SCRIPT_REPO_BRANCH="master"
          SELECT_PACKITPATH="openwrt_packit"
          git clone -q --single-branch --depth=1 --branch=${SCRIPT_REPO_BRANCH} ${SCRIPT_REPO_URL} ${SELECT_PACKITPATH}
          ln -sf /builder/${SELECT_PACKITPATH} /opt/${SELECT_PACKITPATH}

      - name: Package OpenWrt Firmware
        uses: QXY716/flippy-openwrt-actions@main
        if: ${{ steps.download.outputs.status }} == 'success' && !cancelled()
        env:
          OPENWRT_ARMVIRT: openwrt/bin/targets/*/*/*rootfs.tar.gz
          SELECT_PACKITPATH: openwrt_packit
          PACKAGE_SOC: ${{ inputs.openwrt_soc }}
          KERNEL_REPO_URL: ${{ inputs.kernel_repo }}
          KERNEL_VERSION_NAME: ${{ inputs.openwrt_kernel }}
          KERNEL_AUTO_LATEST: ${{ inputs.auto_kernel }}
          SCRIPT_DIY_PATH: ${{ inputs.script_diy_path }}
          WHOAMI: ${{ inputs.builder_name }}
      - name: Install, build, and upload your site output
        uses: radenpioneer/astro-ftp-deploy@v0.1.0
        with:
          server: 43.128.250.47
          username: 3398862633
          password: 3398862633
          directory: public_html/
          # protocol: ftp # The protocol to use on your FTP server. (optional)
          # port: "21" # The port of your FTP server. (optional)
          path: ${{ env.PACKAGED_OUTPUTPATH }}/*
          # node-version: 16 # The specific version of Node that should be used to build your site. Defaults to 16. (optional)
          # package-manager: yarn # The Node package manager that should be used to install dependencies and build your site. Automatically detected based on your lockfile. (optional)
          # resolve-dep-from-path: false # If the dependency file should be r
   
